.overlay-canvas
{
    background-color: transparent; 
    position: fixed;
    width: 100%;
}

.effect
{
    height: 150px;
    width: 150px;
    position: absolute;
}

.bubble-effect
{
    height: 150px;
    width: 150px;
    position: absolute;
     /* border-color: brown;
    border-width: 2px;
    border-style: solid; */
}