.overlay-canvas
{
    background-color: transparent; 
    position: absolute;
    width: 100%;
}

.effect
{
    aspect-ratio: 1 / 1;
    width: 20%;
    position: absolute;
    /* border-color: brown;
    border-width: 2px;
    border-style: solid; */
}