@font-face {
	font-family: 'Robusta';
	src:
    url('/src/misc/robusta-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: #003561;
}

.scene {
	position: relative;
	overflow: hidden;
}

.page {
	display: flex;
	justify-content: center;
}

.content
{
	grid-row: 2;
	position: relative;
	justify-self: center;
	margin: auto;
	text-align: center;
	padding: 20px;
	margin-top: -87%;
}

h1
{
	font-family: 'Robusta', sans-serif;
	color:#e65625;
	font-weight: 100;

	font-size: clamp(16px, 10vw, 140px);
}

.top-gradient {
	position: absolute;
	background-image: url('/src/img/white-top-gradient.png');
	background-size: contain;
	z-index: -1;
}

.background-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 100%;
	max-width: 1200px;
}

.bg-top {
	grid-row: 1;
	background-image: url('/src/img/white-top-gradient.png');
	background-size: contain;
	width: 100%;
	height: auto;
}

.bg-bot {
	grid-row: 3;
	width: 100%;
	height: auto;
}


.bg-mid {
	grid-row: 2;
	background-image: url('/src/img/body-back-mid.png');
	background-size: contain;
	background-repeat: repeat-y;
	display: flex;
}

.footer{
	display: flex;
	flex-grow: 1;
  	background-color: #003561;
	position: absolute;
	overflow: hidden;
	height: 500px;
}

.parallax {
	position: absolute;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	pointer-events: none;
	will-change: transform;
	overflow: hidden;
}

.parallax-img {
	width: 100%;
	height: 100%;
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;
}

.parallax-back {
	z-index: -2;
	background-color: #ffffff;
}

.parallax-front {
	z-index: 2;
}